In [22]:
import pandas as p
df=p.read_csv("x.csv")
df.drop_duplicates()                          #.drop_duplicates()->delete duplicate all rows values
print(df.shape)
print(df)                       
                                      # Doubt- how to add new columns and rows

(7, 4)
   Unnamed: 0 Name  Age  Passout
0           0    A   20     2015
1           1    B   30     2016
2           2    C   20     2017
3           3    D   13     2014
4           4    E   45     2013
5           5    F   20     2018
6           6    G   15     2012

In [27]:
import pandas as p
df=p.read_csv("x.csv")
df.drop_duplicates(['Age'])    # .drop_duplicates([Column_name])-> delete columns wise rows

   Unnamed: 0 Name  Age  Passout
0           0    A   20     2015
1           1    B   30     2016
3           3    D   13     2014
4           4    E   45     2013
6           6    G   15     2012