In [5]:
import pandas as p
df=p.read_csv("x.csv")
print(df.index=range(1,8))                         # change index of dataframe.index=range()
df.columns=['Index', 'Name', 'Age', 'Passout']   # change columns name .columns=[]
df
df.index=[1,2,3,4,5,6,7]                     # second method of index change 
a=[x**2 for x in range(1,8)]
a

SyntaxError: keyword can't be an expression (<ipython-input-5-6e711b1a36fb>, line 3)

In [34]:
import pandas as p
df={'Name':['A','B','C'],"Age":[20,20,30],"RollNo":[10,2,3]}
df1=p.DataFrame(df,columns=['Name',"RollNo","Age"],index=range(1,4))      
                      # positions of  columns assign and columns name can change here also
                      # while creating df
                      # Change index also there
df1

  Name  RollNo  Age
1    A      10   20
2    B       2   20
3    C       3   30

In [11]:
import pandas as pd
data = {'name': ['Aman', 'Raman', 'Anita', 'Kajal', 'Arun'],
'year': [2016, 2017, 2017, 2017, 2017],
'salary': [40000, 24000, 31000, 20000, 30000]}
df = pd.DataFrame(data)
df.rename(columns = {'name':'id'}, inplace=True)   
                 #.rename(columns={'old_name':'new_name'},inplace=True)
                 # useful to  rename only one column
df

      id  year  salary
0   Aman  2016   40000
1  Raman  2017   24000
2  Anita  2017   31000
3  Kajal  2017   20000
4   Arun  2017   30000

In [4]:
import pandas as p
df={1:[1,2,3,4],2:[2,3,4,5],3:[3,5,6,7]}
p.DataFrame(df)
df.index()=range(1,6)

SyntaxError: can't assign to function call (<ipython-input-4-812fdbf41c2e>, line 4)