In [ ]:
import pandas as p
df=p.read_csv("x.csv")
df.iloc[:]       # iloc[rows slice,columns Slice]   iloc[:]->select all rows and columns
                 # numerical value pass only in iloc 
                 # basically used for row wise indexing selection

In [13]:
import pandas as p
df=p.read_csv("x.csv")
df.iloc[3:4,1]="Vai"              # find particular index and then change value by assign method
df
df.iloc[3,1]="By"                 # simply way to get particular index
df

   Unnamed: 0 Name  Age  Passout
0           0    A   20     2015
1           1    B   30     2016
2           2    C   20     2017
3           3   By   13     2014
4           4    E   45     2013
5           5    F   20     2018
6           6    G   15     2012

In [1]:
import pandas as p
df=p.read_csv("x.csv")
df.iloc[3,0:2]=["Vai",'Ban'] # multiple values change
df

  Unnamed: 0 Name  Age  Passout
0          0    A   20     2015
1          1    B   30     2016
2          2    C   20     2017
3        Vai  Ban   13     2014
4          4    E   45     2013
5          5    F   20     2018
6          6    G   15     2012

In [ ]:
import pandas as p
df=p.read_csv("x.csv")
df.loc[:,"Name"]       # loc[rows slice,Columns Slice] - use to select data
                       # only alphabets indexing can pass
                       # basically we can use it for columns slicing

In [15]:
## import pandas as p
df=p.read_csv("x.csv")
df.loc[1:2,"Name"]="Vai"              # find particular index and then change value by assign method
df                                  


                                    # doubt- need to know why it changes both value 1 and 2 rows 
                                             #of name columns

   Unnamed: 0 Name  Age  Passout
0           0    A   20     2015
1           1  Vai   30     2016
2           2  Vai   20     2017
3           3    D   13     2014
4           4    E   45     2013
5           5    F   20     2018
6           6    G   15     2012