In [50]:
import pandas as p
df = p.DataFrame( {
"Name" : ["Aman", "Anita", "Rohan", "Joe", "Neha" , "Karthik"] ,
"City" : ["Chandigarh", "Kaithal", "Kaithal", "Jalandhar", "Delhi","Delhi"], 
    "Employed":["yes","yes","no","yes","yes","no"] } )
df.groupby(["City"])[["Name"]].count()
                         #.groupup(["Column_name"])[["groupbycolumn"]].function()

            Name
City
Chandigarh     1
Delhi          2
Jalandhar      1
Kaithal        2

In [40]:
import pandas as p
df=p.read_csv('x.csv')
z=df.groupby("Age")[["Name","Passout"]].count()   #.groupby([column_name])[[list of columns]].fun()
print(z)
print(df.query('Age==20'))
z=df.groupby(["Age","Name"])[["Passout"]].count()   #.groupby([list of columns])[["Column_name"]].fun()
z

     Name  Passout
Age
13      1        1
15      1        1
20      3        3
30      1        1
45      1        1
   Unnamed: 0 Name  Age  Passout
0           0    A   20     2015
2           2    C   20     2017
5           5    F   20     2018

          Passout
Age Name
13  D           1
15  G           1
20  A           1
    C           1
    F           1
30  B           1
45  E           1

In [45]:
import pandas as p
df=p.read_csv('x.csv')
z=df.groupby("Age")[["Name","Passout"]].count()   #.groupby([])[[]]-> [[ ]] used to create Dataframe
print(z)

z=df.groupby(["Age","Name"])["Passout"].count()   #.groupby([])[]-> [] used to create Series
z

     Name  Passout
Age
13      1        1
15      1        1
20      3        3
30      1        1
45      1        1

Age  Name
13   D       1
15   G       1
20   A       1
     C       1
     F       1
30   B       1
45   E       1
Name: Passout, dtype: int64

In [47]:
import pandas as p
df=p.read_csv('x.csv')
z=df.groupby("Age")[["Name","Passout"]]   #.groupby([])[[]]-> [[ ]] used to create Dataframe
for i,j in z:
    print(i)
    print(j)

13
   Unnamed: 0 Name  Age  Passout
3           3    D   13     2014
15
   Unnamed: 0 Name  Age  Passout
6           6    G   15     2012
20
   Unnamed: 0 Name  Age  Passout
0           0    A   20     2015
2           2    C   20     2017
5           5    F   20     2018
30
   Unnamed: 0 Name  Age  Passout
1           1    B   30     2016
45
   Unnamed: 0 Name  Age  Passout
4           4    E   45     2013

In [62]:
import pandas as p
df=p.read_csv('x.csv')
z=df.groupby("Age")[["Name","Passout"]]
for i,j in z:
    print(i)
    print(j)
z.get_group("A")        # doubt get_group concept

13
   Unnamed: 0 Name  Age  Passout
3           3    D   13     2014
15
   Unnamed: 0 Name  Age  Passout
6           6    G   15     2012
20
   Unnamed: 0 Name  Age  Passout
0           0    A   20     2015
2           2    C   20     2017
5           5    F   20     2018
30
   Unnamed: 0 Name  Age  Passout
1           1    B   30     2016
45
   Unnamed: 0 Name  Age  Passout
4           4    E   45     2013

KeyError: 'A'