In [18]:
import pandas as p
df=p.read_csv("x.csv")
print(df.query('Age>=30').mean())                   # first method to get mean with query
print(df.query('Age>=30').median())
print(df.query('Age>=30').mode())

Unnamed: 0       2.5
Age             37.5
Passout       2014.5
dtype: float64
Unnamed: 0       2.5
Age             37.5
Passout       2014.5
dtype: float64
   Unnamed: 0 Name  Age  Passout
0           1    B   30     2013
1           4    E   45     2016

In [21]:
import pandas as p
df=p.read_csv("x.csv")
print(df.iloc[:,2].mean())                 # iloc helps to get mean of specific columns
print()
print(df.iloc[:,2].median())
print()
print(df.iloc[:,2].mode())                   # mode returns max value of repition

23.285714285714285

20.0

0    20
dtype: int64

In [6]:
import pandas as p
df=p.read_csv("x.csv")
df.groupby("Passout")[["Age"]].mean()   # calculate mean of all elements one by one

         Age
Passout
2012      15
2013      45
2014      13
2015      20
2016      30
2017      20
2018      20